{% extends "base.html" %}

{% block content %}

    <form id="chat_form" name="chat_form" method="post" onsubmit="return to_post_or_not_to_post()">
        {% csrf_token %}

        <div class="form-group {{ form.chat_string.html_name }} col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <!-- {% include "bootstrap-screen-size.html" %} -->
                    {% include "websocket_connected.html" %}

                </div>
                <div class="col-xs-8">{% include "menu.html" %}</div>
            </div>
            <span class="blablabla-label">Bla bla bla</span>
            <div class="controls">
                <textarea class="form-control chat-string-input" rows="5" id="{{ form.chat_string.id_for_label }}"
                          name="{{ form.chat_string.html_name }}"
                          type="text"></textarea>
            </div>
        </div>

        <div class="form-actions col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <input class="btn btn-info btn-large" id="submit" name="submit" type="submit"
                           value="🚽&nbsp;&nbsp;Submit"/>
                    <input type="hidden" name="action" id="action"/>
                </div>
            </div>
        </div>

    </form>

    <br>

    <div class="col-xs-12">{% include "chats_table.html" %}</div>

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src={% static "js/websocket.js" %} type="text/javascript"></script>
    <script src={% static "js/ajax_chat_update.js" %} type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            // keep track of whether or not websocket connection is present
            // so that page can be posted if it fails (like in Safari)
            var ws4redis = WS4Redis({
                uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast',
                receive_message: receiveMessage,
                heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
            });

            // receive a message though the Websocket from the server
            function receiveMessage(msg) {
                update_chats();
            }

            // when a submit button is clicked, put its name into the action hidden field
            $(":submit").click(function () {
                $("#action").val(this.name);
            });

        });
    </script>
{% endblock %}